@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --main-black: rgb(0, 0, 0);
  --main-white: rgb(255, 255, 255);
  --main-red: rgb(191, 10, 48);
  --main-blue: rgb(0, 40, 104);
  --main-grey: rgb(241, 241, 241);
}

html {
  background: var(--main-blue);
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
}

/******** NAV BAR *******/

.nav {
  background-color: var(--main-red);
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 2px;
  max-height: 15vh;
}

.nav > ul {
  display: flex;
  font-family: "Dancing Script", cursive;
  list-style: none;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.nav-list a {
  opacity: 0.7;
  display: block;
  text-align: center;
  font-size: 2.75rem;
  color: var(--main-white);
  text-decoration: none;
}

.nav-list a:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
  opacity: 1;
}

#roseicon {
  height: 5rem;
  padding-top: 10px;
  margin-left: -40px;
  margin-right: -40px;
}

/***************Welcome*************/

.welcome {
  position: relative;
  display: inline-block;
  background-image: url(./photos/engagement.jpg) center;
  background-size: cover;
}

.main-image img {
  box-shadow: 0 0 7px;
}

.title {
  font-family: "Dancing Script", cursive;
  color: white;
  top: 75vh;
  position: absolute;
  z-index: 9;
}

.email {
  width: 100vw;
  position: absolute;
  z-index: 9;
  top: 80vh;
}

#email {
  width: 250px;
  height: 2rem;
  font-family: Cambria, Cochin, Georgia, "Times New Roman", Times, serif;
  font-size: 1rem;
  border: none;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  text-align: center;
}

.submit-button {
  height: 3rem;
  width: 3rem;
  border: none;
  box-shadow: 0 0 5px;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#roseimage {
  height: 2rem;
  position: absolute;
}

#send-email {
  z-index: 8;
  opacity: 0;
  width: 3rem;
  height: 3rem;
}
