@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Marck+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

:root {
  --main-black: rgb(0, 0, 0);
  --main-white: rgb(255, 255, 255);
  --main-red: rgb(191, 10, 48);
  --main-blue: rgb(0, 40, 104);
  --main-grey: rgb(241, 241, 241);
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: "raleway", sans-serif;
}

/******** NAV BAR *******/

.nav {
  background-color: var(--main-red);
  display: flex;
  position: fixed;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 2px;
  max-height: 15vh;
}

.nav > ul {
  display: flex;
  font-family: "Dancing Script", cursive;
  list-style: none;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
}

.nav-list a {
  display: block;
  text-align: center;
  font-size: 2.75rem;
  color: var(--main-white);
  text-decoration: none;
}

.nav-list a:hover {
  transition-duration: 0.4s;
  transform: scale(1.1);
  opacity: 0.7;
}

#roseicon {
  height: 5rem;
  padding-top: 10px;
  margin-left: -40px;
  margin-right: -40px;
}
